<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="SenseData">

	<resultMap id="RM.SenseData" type="com.dqs.biz.model.SenseData">
        <result property="seqno" column="SEQNO"/>
        <result property="title" column="TITLE"/>
        <result property="fileName" column="FILE_NAME"/>
        <result property="insertTime" column="INSERT_TIME"/>
        <result property="viewCount" column="VIEW_COUNT"/>
        <result property="downloadCount" column="DOWNLOAD_COUNT"/>
        <result property="remark" column="REMARK"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="SenseData.columns">
	    <![CDATA[
		SEQNO,TITLE,FILE_NAME,INSERT_TIME,VIEW_COUNT,DOWNLOAD_COUNT,REMARK
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="SenseData.insert" >
    <![CDATA[
        INSERT INTO T_SENSE_DATA (
        	SEQNO ,
        	TITLE ,
        	FILE_NAME ,
        	INSERT_TIME ,
        	VIEW_COUNT ,
        	DOWNLOAD_COUNT ,
        	REMARK 
        ) VALUES (
        	#{seqno,jdbcType=DECIMAL} ,
        	#{title,jdbcType=VARCHAR} ,
        	#{fileName,jdbcType=VARCHAR} ,
        	#{insertTime,jdbcType=TIMESTAMP} ,
        	#{viewCount,jdbcType=DECIMAL} ,
        	#{downloadCount,jdbcType=DECIMAL} ,
        	#{remark,jdbcType=VARCHAR} 
        )
    ]]>
		<!--oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL -->
			
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="seqno">
			SELECT S_T_SENSE_DATA.nextval  FROM DUAL 
        </selectKey>
	</insert>
    
	<update id="SenseData.update" >
    <![CDATA[
        UPDATE T_SENSE_DATA SET
	        TITLE = #{title,jdbcType=VARCHAR} ,
	        FILE_NAME = #{fileName,jdbcType=VARCHAR} ,
	        INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP} ,
	        VIEW_COUNT = #{viewCount,jdbcType=DECIMAL} ,
	        DOWNLOAD_COUNT = #{downloadCount,jdbcType=DECIMAL} ,
	        REMARK = #{remark,jdbcType=VARCHAR} 
        WHERE 
	        SEQNO = #{seqno} 
    ]]>
	</update>

    <delete id="SenseData.delete">
    <![CDATA[
        DELETE FROM T_SENSE_DATA WHERE
        SEQNO = #{id} 
    ]]>
    </delete>
    
    <select id="SenseData.getById" resultMap="RM.SenseData">
		SELECT <include refid="SenseData.columns" />
	    <![CDATA[
		    FROM T_SENSE_DATA 
	        WHERE 
		        SEQNO = #{id} 
	    ]]>
	</select>
	<!-- 不建议,仅提供给数据量较少的基表查询 -->
	 <select id="SenseData.findAll" resultMap="RM.SenseData">
		SELECT <include refid="SenseData.columns" />
	    <![CDATA[
		    FROM T_SENSE_DATA 
	    ]]>
	</select>
	<!-- 基础代码,视情况添加状态识别 -->
	 <select id="SenseData.baseCode" resultMap="RM.SenseData">
		SELECT <include refid="SenseData.columns" />
	    <![CDATA[
		    FROM T_SENSE_DATA 
	    ]]>
	    <!-- 视情况添加where条件 -->
	</select>
	
	<sql id="SenseData.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(seqno)">
				AND SEQNO = #{seqno}
			</if>
	       <if test="@Ognl@isNotEmpty(title)">
				AND TITLE = #{title}
			</if>
	       <if test="@Ognl@isNotEmpty(fileName)">
				AND FILE_NAME = #{fileName}
			</if>
	       <if test="@Ognl@isNotEmpty(insertTimeBegin)">
				AND INSERT_TIME >= #{insertTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(insertTimeEnd)">
				AND INSERT_TIME &lt;= #{insertTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(viewCount)">
				AND VIEW_COUNT = #{viewCount}
			</if>
	       <if test="@Ognl@isNotEmpty(downloadCount)">
				AND DOWNLOAD_COUNT = #{downloadCount}
			</if>
	       <if test="@Ognl@isNotEmpty(remark)">
				AND REMARK = #{remark}
			</if>
		</where>
	</sql>
		
    <select id="SenseData.findPage.count" resultType="long">
        SELECT count(*) FROM T_SENSE_DATA 
		<include refid="SenseData.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="SenseData.findPage" resultMap="RM.SenseData">
    	SELECT <include refid="SenseData.columns" />
	    FROM T_SENSE_DATA 
		<include refid="SenseData.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

