<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="PasswordApplyInfo">

	<resultMap id="RM.PasswordApplyInfo" type="com.steven.core.model.PasswordApplyInfo">
        <result property="seqno" column="SEQNO"/>
        <result property="userid" column="USERID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="applytime" column="APPLYTIME"/>
        <result property="applyIp" column="APPLY_IP"/>
        <result property="deadline" column="DEADLINE"/>
        <result property="isValid" column="IS_VALID"/>
        <result property="useTime" column="USE_TIME"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="PasswordApplyInfo.columns">
	    <![CDATA[
		SEQNO,USERID,USER_NAME,APPLYTIME,APPLY_IP,DEADLINE,IS_VALID,USE_TIME
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="PasswordApplyInfo.insert" >
    <![CDATA[
        INSERT INTO T_SYS_PASSWORD_APPLY_INFO (
        	SEQNO ,
        	USERID ,
        	USER_NAME ,
        	APPLYTIME ,
        	APPLY_IP ,
        	DEADLINE ,
        	IS_VALID ,
        	USE_TIME 
        ) VALUES (
        	#{seqno,jdbcType=VARCHAR} ,
        	#{userid,jdbcType=DECIMAL} ,
        	#{userName,jdbcType=VARCHAR} ,
        	#{applytime,jdbcType=TIMESTAMP} ,
        	#{applyIp,jdbcType=VARCHAR} ,
        	#{deadline,jdbcType=TIMESTAMP} ,
        	#{isValid,jdbcType=BIT} ,
        	#{useTime,jdbcType=TIMESTAMP} 
        )
    ]]>
		<!--oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="seqno">
			SELECT S_T_SYS_PASSWORD_APPLY_INFO.nextval  FROM DUAL 
        </selectKey>
        -->
	</insert>
    
	<update id="PasswordApplyInfo.update" >
    <![CDATA[
        UPDATE T_SYS_PASSWORD_APPLY_INFO SET
	        USERID = #{userid,jdbcType=DECIMAL} ,
	        USER_NAME = #{userName,jdbcType=VARCHAR} ,
	        APPLYTIME = #{applytime,jdbcType=TIMESTAMP} ,
	        APPLY_IP = #{applyIp,jdbcType=VARCHAR} ,
	        DEADLINE = #{deadline,jdbcType=TIMESTAMP} ,
	        IS_VALID = #{isValid,jdbcType=BIT} ,
	        USE_TIME = #{useTime,jdbcType=TIMESTAMP} 
        WHERE 
	        SEQNO = #{seqno} 
    ]]>
	</update>

    <delete id="PasswordApplyInfo.delete">
    <![CDATA[
        DELETE FROM T_SYS_PASSWORD_APPLY_INFO WHERE
        SEQNO = #{id} 
    ]]>
    </delete>
    
    <select id="PasswordApplyInfo.getById" resultMap="RM.PasswordApplyInfo">
		SELECT <include refid="PasswordApplyInfo.columns" />
	    <![CDATA[
		    FROM T_SYS_PASSWORD_APPLY_INFO 
	        WHERE 
		        SEQNO = #{id} 
	    ]]>
	</select>
	<!-- 不建议,仅提供给数据量较少的基表查询 -->
	 <select id="PasswordApplyInfo.findAll" resultMap="RM.PasswordApplyInfo">
		SELECT <include refid="PasswordApplyInfo.columns" />
	    <![CDATA[
		    FROM T_SYS_PASSWORD_APPLY_INFO 
	    ]]>
	</select>
	<!-- 基础代码,视情况添加状态识别 -->
	 <select id="PasswordApplyInfo.baseCode" resultMap="RM.PasswordApplyInfo">
		SELECT <include refid="PasswordApplyInfo.columns" />
	    <![CDATA[
		    FROM T_SYS_PASSWORD_APPLY_INFO 
	    ]]>
	    <!-- 视情况添加where条件 -->
	</select>
	
	<sql id="PasswordApplyInfo.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(seqno)">
				AND SEQNO = #{seqno}
			</if>
	       <if test="@Ognl@isNotEmpty(userid)">
				AND USERID = #{userid}
			</if>
	       <if test="@Ognl@isNotEmpty(userName)">
				AND USER_NAME = #{userName}
			</if>
	       <if test="@Ognl@isNotEmpty(applytimeBegin)">
				AND APPLYTIME >= #{applytimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(applytimeEnd)">
				AND APPLYTIME &lt;= #{applytimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(applyIp)">
				AND APPLY_IP = #{applyIp}
			</if>
	       <if test="@Ognl@isNotEmpty(deadlineBegin)">
				AND DEADLINE >= #{deadlineBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(deadlineEnd)">
				AND DEADLINE &lt;= #{deadlineEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(isValid)">
				AND IS_VALID = #{isValid}
			</if>
	       <if test="@Ognl@isNotEmpty(useTimeBegin)">
				AND USE_TIME >= #{useTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(useTimeEnd)">
				AND USE_TIME &lt;= #{useTimeEnd}
		   </if>
		</where>
	</sql>
		
    <select id="PasswordApplyInfo.findPage.count" resultType="long">
        SELECT count(*) FROM T_SYS_PASSWORD_APPLY_INFO 
		<include refid="PasswordApplyInfo.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="PasswordApplyInfo.findPage" resultMap="RM.PasswordApplyInfo">
    	SELECT <include refid="PasswordApplyInfo.columns" />
	    FROM T_SYS_PASSWORD_APPLY_INFO 
		<include refid="PasswordApplyInfo.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

