<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="RolePermission">

	<resultMap id="RM.RolePermission" type="com.steven.core.model.RolePermission">
        <result property="id" column="ID"/>
        <result property="roleId" column="ROLE_ID"/>
        <result property="permissionId" column="PERMISSION_ID"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="RolePermission.columns">
	    <![CDATA[
		ID,ROLE_ID,PERMISSION_ID
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="RolePermission.insert" >
    <![CDATA[
        INSERT INTO T_SYS_ROLE_PERMISSION (
        	ID ,
        	ROLE_ID ,
        	PERMISSION_ID 
        ) VALUES (
        	#{id,jdbcType=DECIMAL} ,
        	#{roleId,jdbcType=DECIMAL} ,
        	#{permissionId,jdbcType=DECIMAL} 
        )
    ]]>
		<!--oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL -->
			
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
			SELECT S_T_SYS_ROLE_PERMISSION.nextval  FROM DUAL 
        </selectKey>
	</insert>
    
	<update id="RolePermission.update" >
    <![CDATA[
        UPDATE T_SYS_ROLE_PERMISSION SET
	        ROLE_ID = #{roleId,jdbcType=DECIMAL} ,
	        PERMISSION_ID = #{permissionId,jdbcType=DECIMAL} 
        WHERE 
	        ID = #{id} 
    ]]>
	</update>

    <delete id="RolePermission.delete">
    <![CDATA[
        DELETE FROM T_SYS_ROLE_PERMISSION WHERE
        ID = #{id} 
    ]]>
    </delete>
    
    <select id="RolePermission.getById" resultMap="RM.RolePermission">
		SELECT <include refid="RolePermission.columns" />
	    <![CDATA[
		    FROM T_SYS_ROLE_PERMISSION 
	        WHERE 
		        ID = #{id} 
	    ]]>
	</select>
	<!-- 不建议,仅提供给数据量较少的基表查询 -->
	 <select id="RolePermission.findAll" resultMap="RM.RolePermission">
		SELECT <include refid="RolePermission.columns" />
	    <![CDATA[
		    FROM T_SYS_ROLE_PERMISSION 
	    ]]>
	</select>
	<!-- 基础代码,视情况添加状态识别 -->
	 <select id="RolePermission.baseCode" resultMap="RM.RolePermission">
		SELECT <include refid="RolePermission.columns" />
	    <![CDATA[
		    FROM T_SYS_ROLE_PERMISSION 
	    ]]>
	    <!-- 视情况添加where条件 -->
	</select>
	
	<sql id="RolePermission.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND ID = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(roleId)">
				AND ROLE_ID = #{roleId}
			</if>
	       <if test="@Ognl@isNotEmpty(permissionId)">
				AND PERMISSION_ID = #{permissionId}
			</if>
		</where>
	</sql>
		
    <select id="RolePermission.findPage.count" resultType="long">
        SELECT count(*) FROM T_SYS_ROLE_PERMISSION 
		<include refid="RolePermission.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="RolePermission.findPage" resultMap="RM.RolePermission">
    	SELECT <include refid="RolePermission.columns" />
	    FROM T_SYS_ROLE_PERMISSION 
		<include refid="RolePermission.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	<!-- 根据用户角色查询拥有的模块 -->
    <select id="RolePermission.getRolePermissionByRoleId" resultMap="RM.RolePermission">
    	SELECT <include refid="RolePermission.columns" /> 
	    FROM T_SYS_ROLE_PERMISSION   
	    WHERE role_id = #{roleId} 
    </select>
    
	   <!-- 根据角色ID删除 -->
	<delete id="RolePermission.deleteByRoleId">
    <![CDATA[
        DELETE FROM T_SYS_ROLE_PERMISSION WHERE
        ROLE_ID = #{roleId} 
    ]]>
    </delete>
    <!-- 根据权限ID删除 -->
    <delete id="RolePermission.deleteByPermissionId">
    <![CDATA[
        DELETE FROM T_SYS_ROLE_PERMISSION WHERE
        PERMISSION_ID = #{permissionId} 
    ]]>
    </delete>
</mapper>

